.btnColorDefault {
    background-color: #2458f4;
}

.layout-with {
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#mainContent {
    // box-shadow:  5 5px 5px 0 #774242;;
    // box-shadow:
    //     0 4px 8px 0 rgba(0, 0, 0, 0.2),
    //     0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 0;
    padding-top: 4rem;
}

.productTab {
    color: #6b7280;

    &:hover {
        color: #374151;
    }

    &.active {
        background-color: #e0e7ff;
        color: #4338ca;
    }
}

@keyframes example {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

.productsList {
    .productEl {
        animation-name: example;
        animation-duration: 1s;
    }
}

/* Slide captions */
.slide-captions {
    position: absolute;
    top: 50%;
    left: 50px;
    color: #c12f2f;
    z-index: 999;
    transform: translateY(-50%);
    max-width: 700px;

    .current-title {
        margin: 0;
        font-size: 45px;
        text-shadow:
            0 0 3px #f1b4b4,
            0 0 15px #ebbbbb;
    }
    .current-subtitle {
        margin: 10px 0 0 0;
        font-size: 25px;
    }
}

@media only screen and (max-width: 640px) {
    .slide-captions {
        left: 15px;
        max-width: 350px;

        .current-title {
            font-size: 25px;
        }
        .current-subtitle {
            margin: 5px 0 0 0;
            font-size: 18px;
        }
    }
}

@media only screen and (max-width: 768px) {
    #mainContent {
        padding-top: 4rem;
    }
}
.toggleSection {
    .toggleItem {
        &.isOpened {
            .toggleItemClosed {
                display: none;
            }
            .toggleItemOpened {
                display: block;
            }
            .toggleItemContent {
                display: block;
            }
            .toggleItemHeader {
                color: #4f46e5;
            }
        }
        &:not(.isOpened) {
            .toggleItemClosed {
                display: block;
            }
            .toggleItemOpened {
                display: none;
            }
            .toggleItemContent {
                display: none;
            }
            .toggleItemHeader {
                color: #111827;
            }
        }
        // .toggleItemContent{
        //     display: none;
        // }
    }
}

.productImage {
    .imageTab {
        &.isShow {
            .borderSelected {
                outline-width: 2px;
                outline-color: #2458f4;
                outline-offset: 2px;
                outline-style: solid;
            }
        }
        &:not(.isShow) {
            .borderSelected {
                outline: none;
            }
        }
    }
    .imagesPanelSection .imagePanel {
        &:not(.isShow) {
            display: none;
        }
    }
}

.swiperTopPage {
    .swiper-slide {
        &:not(.swiper-slide-active){
            filter: blur(4px);
        }
    }
}
