.table-responsive img{
  max-width: 200px;
}
.table-responsive .table thead th{
  color: blue;
} 

.table-responsive .table .product-img{
  max-width: 250px;
  width: 250px;
}
.table-responsive .table .button-group{
  display: grid;
}

.table-responsive .table .button-group a{
  margin-bottom: 5px;
}
