.send-contact-frame {
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
    background: #fff;
}
  
.send-contact-frame .form-group {
    padding-bottom: 8px;
}
  
.send-contact-frame .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
.send-contact-frame .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
.send-contact-frame .error-message br + br {
    margin-top: 25px;
  }
  
.send-contact-frame .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
.send-contact-frame .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
.send-contact-frame .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
.send-contact-frame input, .contact .send-contact-frame textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
  }
  
.send-contact-frame input:focus, .contact .send-contact-frame textarea:focus {
    border-color: #1bbd36;
  }
  
.send-contact-frame input {
    height: 44px;
  }
  
.send-contact-frame textarea {
    padding: 10px 12px;
  }
  
.send-contact-frame button[type="submit"] {
    background: #1bbd36;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
.send-contact-frame button[type="submit"]:hover {
    background: #2ae149;
  }
  